{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Authors Index
        ================================================== -->
        <section class="recent-posts">
            <div class="section-title">
                <h2><span>{{ default "Authors" .Title }}</span></h2>
            </div>
            <div content="container">
                {{ .Content }}
            </div>
            <div class="container listrecent">
                {{ range sort .Data.Pages ".Weight" }}
                    {{- partial "list-partials/author.html" . -}}
                {{end}}
            </div>
        </section>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
