{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <!-- Begin Page
    ================================================== -->
    <section>
        <header>
            {{- partial "_shared/title.html" . -}}
        </header>
        <!-- Page Content -->
        <div>
            {{ .Content }}
        </div>
        <div>
            {{ range sort .Data.Pages ".Weight" }}
                {{- partial "list-partials/author.html" . -}}
            {{end}}
        </div>
    </section>
    <!-- End Page
    ================================================== -->
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "aside-bottom" }}
    {{- partial "_shared/morefrom.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}