{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <!-- Begin Index
    ================================================== -->
    <section>
        <header>
            {{- partial "_shared/title.html" . -}}
        </header>
        <!-- Page Content -->
        <div>
            {{ .Content }}
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            {{ $post_paginator := .Paginate (.Pages) 6 }}
            {{ with $post_paginator }}
                {{ range .Pages }}
                <div class="col">
                    {{- partial "list-partials/postcard.html" . -}}
                </div>
                {{ end }}
            {{ end }}
            {{- partial "list-partials/pagination.html" $post_paginator -}}
        </div>
    </section>
    <!-- End Index
        ================================================== -->
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "aside "}}
    {{- partial "_shared/jumbotron.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}