{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <!-- Begin Index
    ================================================== -->
    <div class="container">
        <section>
            <div class="container d-flex justify-content-center">
                <div class="main-content post-width">
                    <!-- Page Title -->
                    <div class="page-meta">
                        <h1 class="text-capitalize">{{ .Title }}</h1>
                    </div>
                    <!-- Page Content -->
                    <div content="container">
                        {{ .Content }}
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
                         {{ with $post_paginator }}
                            {{ range .Pages }}
                                {{- partial "list-partials/postcard.html" . -}}
                            {{ end }}
                        {{ end }}
                    </div>
                    {{- partial "list-partials/pagination.html" $post_paginator -}}
                </div>
            </div>
        </section>
    </div>
    <!-- End Index
        ================================================== -->
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}