{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        {{ if isset .Params "title" }}
        <div class="section-title">
            <h2><span>{{ .Title }}</span></h2>
        </div>
        {{ end }}
        <div content="container">
            {{ .Content }}
        </div>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
