{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<!-- Begin Standalone
    ================================================== -->
    <article>
        <header>
            {{- partial "_shared/title.html" . -}}
        </header>
        <!-- Page Content -->
        <div content="container">
            {{ .Content }}
        </div>
    </article>
    <!-- End Standalone
        ================================================== -->
{{ end }}
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}