{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<!-- Begin Standalone
    ================================================== -->
    <div class="container">
        <section>
            <div class="container d-flex justify-content-center">
                <div class="main-content post-width">
                    <!-- Page Title -->
                    <div class="page-meta">
                        <h1>{{ .Title }}</h1>
                    </div>
                    <!-- Page Content -->
                    <div content="container">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Standalone
        ================================================== -->
{{ end }}
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}