.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);
    
}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}

.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}

.row.post-top-meta {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f0f0f0;
}

.row.post-top-meta.authorpage .author-thumb {
    margin-top: 40px;
    height: 144px;
    width: 144px;
}

.article-post {
    text-align: left;
}

table {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    margin: 1rem 0 1.2rem 0;
}

td, th {
    font-weight: 400;
    line-height: 1.3rem;
    vertical-align: top;
}

th {
    font-weight: 600;
    padding: 0.5em 1rem 0.6rem 0;
}

td {
    padding: 0.5rem 1rem 0.6rem 0;
}

figcaption h4 {
    padding: 1em 0 0.5em 0;
    font-weight: normal !important;
    font-size: 0.9rem;
    font-style: italic;
}

.footnotes p {
    margin: 0;
}

.footnotes ol {
    margin: 1em 0 3em 0;
}

.footnotes li {
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0 0 0.5rem 0;
    margin: 0;
}

a.navbar-brand img {
    max-height: 30px;
}
