{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<!-- Begin Page
    ================================================== -->
    <section>
        <header>
            {{- partial "_shared/title.html" . -}}
        </header>
        <!-- Page Content -->
        <div content="container error">
            Oops! This is obviously not what you are looking for.<br>
            Click <a href="/">here</a> to start all over again.
        </div>
    </section>
    <!-- End Page
        ================================================== -->
{{ end }}

{{ define "footer"}}
{{ end }}