{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<!-- Begin Page
    ================================================== -->
    <div class="container">
        <section>
            <div class="container d-flex justify-content-center">
                <div class="main-content post-width">
                    <!-- Page Title -->
                    <div class="page-meta">
                        <h1>{{ .Title }}</h1>
                    </div>
                    <!-- Page Content -->
                    <div content="container error">
                        Oops! This is obviously not what you are looking for.<br>
                        Click <a href="/">here</a> to start all over again.
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Page
        ================================================== -->
{{ end }}

{{ define "footer"}}
{{ end }}