{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
    {{ if .Site.Data.carousel }}
    <div class="row">
        <div class="col">
            {{- partial "_shared/carousel.html" . -}}
        </div>
    </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    <!-- Begin Homepage
    ================================================== -->
    <section>
        <div class="row container">
            <div class="col-sm-7 container">
                <!-- Page Content -->
                {{ .Content }}
            </div>
            <aside class="featured col-sm-5 container">
                <h1>Featured Content</h1>
                {{ range $index, $val := (where .Site.Pages "Params.Featured" "==" true)}}
                    <div class="d-flex align-items-start">
                        <div class="idx">
                            {{ add $index 1 | printf "%02d" }}
                        </div>
                        {{- partial "list-partials/postcard.html" . -}}
                    </div>
                {{end}}
            </aside>
        </div>
    </section>
    <!-- End Homepage
        ================================================== -->
        {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}