{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <!-- Begin Homepage
    ================================================== -->
    <div class="homepage main-content">
        {{ if .Site.Data.carousel }}
        <div class="row">
            <div class="col">
                {{- partial "_shared/carousel.html" . -}}
            </div>
        </div>
        {{ end }}
        <div class="row">
            <div class="col col-8">
                <div class="sticky-top">
                    <!-- Page Content -->
                    {{ .Content }}
                </div>
            </div>
            <div class="col col-4">
                <h1 class="featured-heading">Featured Content</h1>
                {{ range $index, $val := (where .Site.Pages "Params.Featured" "==" true)}}
                    {{ .Scratch.Set "index" $index }}
                    {{- partial "list-partials/feature-card.html" . -}}
                {{end}}
            </div>
        </div>
    </div>
    <!-- End Homepage
        ================================================== -->
        {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}