<!-- Carousel -->
<div id="homepageCarousel" class="carousel slide carousel-fade" data-ride="carousel"  data-wrap="false" data-interval="5000">
    <div class="carousel-inner">
        {{ range $index, $val := .Site.Data.carousel }}
        <div class="carousel-item{{ if not $index }} active{{ end }}">
            <img class="d-block w-100" src="{{ $val.image }}" alt="{{ $val.title }}"/>
            <div class="carousel-caption d-none d-sm-block">
                <h1 class="carousel-text">{{ $val.title }}</h1>
                <h2 class="carousel-text">{{ $val.summary }}</h2>
            </div>
        </div>
        {{ end }}
    </div>
</div>