<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-md fixed-top mediumnavigation nav-down">
    <div class="container pe-0">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ .Site.BaseURL }}/">
            {{ with .Site.Params.logo }}
            <img src="{{ . | urlize | relURL }}" alt="logo">
            {{ else }}
            <span>{{.Site.Title}}</span>
            {{ end }}
        </a>
        <!-- End Logo -->

        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarMediumish">
            {{ $currentPage := . }}
            <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                    <a class="nav-link text-decoration-none" href="{{ .URL }}">{{ .Name | title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- End Menu -->
    </div>
</nav>
<!-- End Navigation
================================================== -->