{{- partial "_shared/postmeta.html" . -}}
<div class="d-flex align-items-start featured">
    <div class="featured-idx">
        {{ add (.Scratch.Get "index") 1 | printf "%02d" }}
    </div>
    <div class="card flex-column">
        <article data-permalink="{{ .RelPermalink }}">
            <div class="card-body">
                <div class="author-thumb-tiny d-flex">
                    <a href='/authors/index.html#{{ .Scratch.Get "author" }}'>
                        <img src='{{ .Scratch.Get "authorThumb" }}' alt='{{ .Scratch.Get "authorName" }}'/>
                    </a>
                    <div class="author-name">
                        <a class="text-dark" href='/authors/index.html#{{ .Scratch.Get "author" }}'>{{ .Scratch.Get "authorName" }}</a>
                    </div>
                </div>
                <div class="card-title">
                    <a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>{{ .ReadingTime }} min read &#8729; {{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .PublishDate }}</div>
                </div>
            </div>
        </article>
    </div>
</div>