<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                {{if isset .Params "image"}}
                <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="A thumbnail image">
                {{ end }}
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
                <img class="img-fluid" src="{{ .Permalink }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ default .Summary .Description }}</h4>
        </div>
        <div class="card-footer bg-white">
            {{- partial "_shared/postmeta.html" . -}}
            <div class="wrapfooter">
                <span class="meta-footer-thumb">
                    <img class="author-thumb" src='{{ .Scratch.Get "authorThumb" }}' alt='{{ .Scratch.Get "authorName" }}'/>
                </span>
                <span class="author-meta">
                    <span class="post-name"><a href='/authors/index.html#{{ .Scratch.Get "author" }}' class="link-dark text-dark">{{ .Scratch.Get "authorName" }}</a></span><br/>
                    <span class="post-date">
                        <i class="far fa-clock clock">&nbsp;</i>{{ .ReadingTime }} min read
                        &#8729;
                        {{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .PublishDate }}
                    </span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
